<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>0D82C166-20DB-4F4C-B362-3C68DB3FB3FE.playgroundpage</string>
		<string>My Playground.playgroundpage</string>
		<string>4DDDFB6C-35BB-4470-BBAF-87E11753BF8B.playgroundpage</string>
	</array>
</dict>
</plist>
